
<table cellpadding="0" cellspacing="0" border="0" align="center" style=" background:#eee; width:640px; font-family:Ariel, Calibri, Helvetica; font-size:14px; line-height:24px;">

    <tr>
        <td style="background:#fff; color:#333; margin:0; padding:30px;">
            <h2 style="font-size:18px; font-weight:700; margin:0; padding-bottom:5px;">Hi <%= party.name %>, </h2>
            <p style="margin:0;"><storng style="font-weight: bold;"> Email :</storng> <%= party.mail %></p>
            <p style="margin:0; padding-bottom:25px;"><storng style="font-weight: bold;"> Password :</storng> <%= party.pass %> </p>
        </td>
    </tr>
</table>