
<table cellpadding="0" cellspacing="0" border="0" align="center" style=" background:#eee; width:640px; font-family:Ariel, Calibri, Helvetica; font-size:14px; line-height:24px;">
	<tr>
        <td style="background-color:#fff;" align="center">
            <a href="" style="color:#333; text-decoration:none;">
                <img src="http://www.haochii.com/images/api-images/logo.jpg" alt="Haochii" width="200" style="vertical-align:top">
                <h1 style="font-size:28px; margin:0; padding-top:30px; padding-bottom:10px;">WelCome to Haochii</h1>
                <p style="font-size:18px;margin:0; padding-bottom:30px;">Thank for your interest</p>
            </a>
        </td>
    </tr>
    <tr>
        <td style="background:#fff; color:#333; margin:0; padding:30px;">
            <h2 style="font-size:18px; font-weight:700; margin:0; padding-bottom:5px;">Hi Customer, </h2>
            <p style="margin:0;"><storng style="font-weight: bold;"> Email :</storng> <%= party.authId %></p>
            <p style="margin:0; padding-bottom:25px;"><storng style="font-weight: bold;"> Password :</storng> <%= party.authToken %> </p>
            <ul style="margin:0 0 0 20px; padding:0">
                <li style="margin: 0; padding-bottom:15px;">The first step in the process is a phone call - we just want to have a quick chat and you can ask us any questions you have about trading with Hao-Chii.</li>
                <li style="margin: 0; padding-bottom:15px;">We’ll give you a call in the next 24 hours; don’t worry, we won’t take more than 5 minutes of your time. Alternatively</li>
                <li style="margin: 0;padding-bottom:15px;">if you'd like to speed things up give us a call on 07961040118.</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td style="background:#fff; color:#333; padding:0px 30px 30px;">
            <h3 style="border-top:1px solid #eee; font-size:18px; font-weight:normal; margin:0; padding:30px 0 15px; text-align:center">Follow Us</h3>
            <ul style="text-align:center; margin:0; padding:0">
                <li style="display:inline-block; list-style:none; vertical-align:top; margin-right:15px;"><a href="#" style="display:block;"><img src="http://www.haochii.com/images/api-images/instagram.png" alt=""></a></li>
                <li style="display:inline-block; list-style:none; vertical-align:top; margin-right:15px;"><a href="#" style="display:block;"><img src="http://www.haochii.com/images/api-images/facebook.png" alt=""></a></li>
                <li style="display:inline-block; list-style:none; vertical-align:top"><a href="#" style="display:block;"><img src="http://www.haochii.com/images/api-images/twitter.png" alt=""></a></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td style="color:#333; padding:30px;">
            <p style="padding-bottom:10px; margin: 0; text-align:center">&copy; 2017 HaoChii. All rights reserved</p>
            <ul style="text-align:center; margin:0; padding:0">
                <li style="display:inline-block; list-style:none; vertical-align:top; margin-right:15px;"><a href="#" style="display:block; color:#333; text-decoration:none;">Contact Us: 07961040118</a></li>|
                <li style="display:inline-block; list-style:none; vertical-align:top; margin-left:15px;"><a href="#" style="display:block; color:#333; text-decoration:none;">haochii.com</a></li>
            </ul>
        </td>
    </tr>
</table>